<div class="app">
  <div class="menuside">
    <ul>
      <li>
        <a routerLink="liste">Liste des Bibliothèques</a>

      </li>
      <li>
        <a routerLink="nouveau">Nouvelle Bibliothèque</a>
      </li>
      <li>
        <a routerLink="tableau">Tableau des Bibliothèques</a>
      </li>
    </ul>
  </div>
  <div class="container">
    <div></div>
    <div></div>
    <div>
      <app-search></app-search>
    </div>
    <div>
      <router-outlet></router-outlet>
      <div>

      </div>
    </div>
